# Sample Configuration File

# General server settings
server {
    listen 8080;        # Port to listen on
    server_name localhost;

    # Default error pages
    error_page 404 /404.html;
    error_page 500 /500.html;

    # Limit client body size
    client_max_body_size 10M;
    location / {
        root /llima-ce/server
        index.html
    }
}

# First server for a host:port becomes the default
server {
    listen 8080 80;
    server_name llima-ce.fr.42;
    # Route configurations
    location / {
        root /llima-ce/server2;    # Serve static files
        index index.html;              # Default file for directories
    }

    location /upload {
        allow_methods POST;             # Allow only POST method
        upload_directory /llima-ce/server2/uploads;  # Directory to save uploaded files
    }

    location /cgi-bin {
        allow_methods GET POST;         # Allow GET and POST methods
        index index.php;
		cgi .php cgi-bin/php-cgi;# Execute CGI scripts with .cgi extension
    }
}